.card {
  margin-bottom: 16px;
}

.cardContent {
  padding: 4px 16px 16px 16px;
}

.contentTop {
  display: flex;
  align-items: center;
  gap: 4px;
}

.showMore {
  color: black;
}

.skeletonTitle {
  padding: 2px 0px;
}
